/*@import url(https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap);*/
/*{*/
/*    margin: 0;*/
/*    padding: 0;*/
/*    box-sizing: border-box;*/
/*    font-family: Popins,sans-serif;*/
/*}*/
/*body{*/
/*    display: flex;*/
/*    justify-content: center;*/
/*    align-items: center;*/
/*    min-height: 100vh;*/
/*    background: #23242a;*/
/*}*/
/*.box{*/
/*    position: relative;*/
/*    width: 380px;*/
/*    height: 420px;*/
/*    background: #1c1c1c;*/
/*    border-radius: 8px;*/
/*}*/
/*.box form{*/
/*    position: absolute;*/
/*    inset: 4px;*/
/*    background: #222;*/
/*    padding: 50px 40px;*/
/*    border-radius: 8px;*/
/*    z-index: 2;*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*}*/
/*.box form h1{*/
/*    color: #fff;*/
/*    font-weight: 500;*/
/*    text-align: center;*/
/*    letter-spacing: 0.1em;*/
/*}*/
/*.box form .input-box{*/
/*    position: relative;width: 300px;*/
/*    margin-top: 35px;*/
/*}*/
/*.box form .input-box input{*/
/*    position: relative;*/
/*    width: 100%;*/
/*    padding: 20px 10px 10px;*/
/*    background: transparent;*/
/*    outline: none;*/
/*    border: none;*/
/*    box-shadow: none;*/
/*    color: #23242a;*/
/*    font-size: 1em;*/
/*    letter-spacing: 0.05em;*/
/*    transition: 0.5s;*/
/*    z-index: 10;*/

/*}*/
/*.box form .input-box span{*/
/*    position: absolute;*/
/*    left: 0;*/
/*    padding: 20px 10px 10px;*/
/*    pointer-events: none;*/
/*    color: #8f8f8f;*/
/*    font-size: 1em;*/
/*    letter-spacing: 0.05em;*/
/*    transition: 0.5s;*/
/*}*/
/*.box form .input-box input:valid ~ span,*/
/*.box form .input-box input:focus ~ span{*/
/*    color: #fff;*/
/*    font-size: 0.75em;*/
/*    transform: translate(-34px);*/
/*}*/
/*.box form .input-box i{*/
/*    position: absolute;*/
/*    left: 0;*/
/*    bottom: 0;*/
/*    width: 100%;*/
/*    height: 2px;*/
/*    background: #fff;*/
/*    border-radius: 4px;*/
/*    overflow: hidden;*/
/*    transition: 0.5s;*/
/*    pointer-events: none;*/
/*}*/
/*.box form .input-box input:valid ~ i,*/
/*.box form .input-box input:focus ~ i {*/
/*    height: 44px;*/
/*}*/
/*.box form input[type="submit"]{*/
/*    border: none;*/
/*    outline: none;*/
/*    padding: 9px 25px;*/
/*    background: #fff;*/

/*}*/
.box {
    max-width: 400px;
    margin: 50px auto;
    padding: 30px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0px 0px 10px 10px rgba(0, 0, 0, 0.2);
}

h1 {
    font-size: 24px;
    font-weight: 700;
    color: #343a40;
    margin-bottom: 30px;
}

input[type="text"] {
    display: block;
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    font-size: 16px;
    font-weight: 400;
    color: #555;
    border: none;
    border-bottom: 2px solid #eee;
    outline: none;
    transition: border-color 0.3s ease-in-out;
}

input[type="text"]:focus {
    border-color: #f24e4e;
}

input[type="submit"] {
    display: block;
    width: 100%;
    padding: 12px 30px;
    font-size: 16px;
    font-weight: 700;
    color: #fff;
    background-color: #f24e4e;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

input[type="submit"]:hover {
    background-color: #e44040;
}

input[type="submit"]:active {
    background-color: #d63333;
    transform: translateY(1px);
    box-shadow: none;
}
body{
    background-color: #4CAF50;
}